.calendarContainer {
  /* background-color: green; */
  box-sizing: border-box;
  overflow: hidden;
}

.react-calendar {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  background: white;
  /* background-color: red; */
  border: 1px solid #a0a096;
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 1.125em;
}

.highlighted-date {
  background-color: #96ec80 !important; /* Yellow highlight */
  color: black;
  font-weight: bold;
}

.time-slot-wrapper {
  display: flex;
}

.time-slot {
  background-color: green;
}


.available-slots span {
  color: green;
  font-size: 1em;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid black;
  border-radius: 10%;
  width: 30%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  /* background-color: green; */
}

.time-slot.taken-slot {
  background-color: red;
  color: white;
  cursor: not-allowed;
}

.appointment-details {
  /* margin-top: 8px; */
  font-size: 14px;
  color: #555;
  /* background-color: blue; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.appointment-details p {
  margin: 0;
}


.fully-booked-date {
  background-color: rgba(255, 0, 0, 0.741) !important;
  color: white;
}

.highlighted-date {
  background-color: #96ec80 !important; /* Yellow highlight */
}



.react-calendar--doubleView {
  width: 700px;
}
.react-calendar__tile--now
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* background-color: green; */
  /* max-height: 80vh; */
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  position: relative;
  border: 1px solid black !important;
  aspect-ratio: 1.5;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.infoParentContainer {
  /* background-color: blue; */
  padding: 20px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.793);
  height: 100vh;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  /* justify-content: center; */
  align-items: center;
}

.infoChildContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.infoChildContainer form {
  display: flex;
  flex-direction: column;
}

.infoContainer form {
  display: flex;
  flex-direction: column;
}

form input {
  /* background-color: red; */
  margin: 5px;
}

.infoChildContainer span {
  position: absolute;
  right: 5%;
  top: 1%;
  /* background-color: red; */
  float: right;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
}

.scheduleContainer button {
  padding: 20px;
}

form button {
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}